<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Events</name>
    <sid>146368855152915</sid>
    <event-sheet>Events sheet</event-sheet>
    <size>
        <width>854</width>
        <height>480</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="880838667602379">
            <initially-visible>1</initially-visible>
            <background-color>245,242,232</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Text" uid="21">
                    <properties>
                        <text>Eventlr plugin builder</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-27,400,0</font>
                        <color>88,144,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>0</y>
                        <z>0</z>
                        <width>320</width>
                        <height>41</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="23">
                    <properties>
                        <text>Events:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-24,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>30</y>
                        <z>0</z>
                        <width>320</width>
                        <height>41</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="24">
                    <properties>
                        <text>Name:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>95</y>
                        <z>0</z>
                        <width>81</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="25">
                    <properties>
                        <text>ID:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>125</y>
                        <z>0</z>
                        <width>81</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="26">
                    <properties>
                        <text>Tooltip:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>155</y>
                        <z>0</z>
                        <width>81</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="27">
                    <properties>
                        <text>Icon:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>190</y>
                        <z>0</z>
                        <width>81</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="FileChooser" uid="28">
                    <properties>
                        <accept>.png</accept>
                        <select>Single</select>
                        <initial-visibility>Visible</initial-visibility>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>88</x>
                        <y>190</y>
                        <z>0</z>
                        <width>97</width>
                        <height>25</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="29">
                    <properties>
                        <text>(png only)</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-12,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>186</x>
                        <y>189</y>
                        <z>0</z>
                        <width>67</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Text" uid="30">
                    <properties>
                        <text>Script:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>221</y>
                        <z>0</z>
                        <width>81</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Name_Event" uid="31">
                    <properties>
                        <text></text>
                        <placeholder></placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>No</auto-font-size>
                        <id-optional></id-optional>
                        <customizations></customizations>
                        <background-color>255,255,255</background-color>
                        <transparent-background>No</transparent-background>
                        <font>Arial,-16</font>
                        <font-color>0,0,0</font-color>
                        <borders>Yes</borders>
                        <top-margin>0</top-margin>
                        <bottom-margin>0</bottom-margin>
                        <left-margin>0</left-margin>
                        <right-margin>0</right-margin>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <select-all-on-focus>No</select-all-on-focus>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>87</x>
                        <y>97</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Text" uid="32">
                    <properties>
                        <text>Type:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Right</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>64</y>
                        <z>0</z>
                        <width>81</width>
                        <height>26</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ConditionActionBtn" uid="33">
                    <properties>
                        <items>Condition;Action</items>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <type>Dropdown list</type>
                        <multi-select>No</multi-select>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>87</x>
                        <y>67</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="ID_Event" uid="34">
                    <properties>
                        <text></text>
                        <placeholder></placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>No</auto-font-size>
                        <id-optional></id-optional>
                        <customizations></customizations>
                        <background-color>255,255,255</background-color>
                        <transparent-background>No</transparent-background>
                        <font>Arial,-16</font>
                        <font-color>0,0,0</font-color>
                        <borders>Yes</borders>
                        <top-margin>0</top-margin>
                        <bottom-margin>0</bottom-margin>
                        <left-margin>0</left-margin>
                        <right-margin>0</right-margin>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <select-all-on-focus>No</select-all-on-focus>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>87</x>
                        <y>127</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="Tooltip" uid="35">
                    <properties>
                        <text></text>
                        <placeholder></placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>No</auto-font-size>
                        <id-optional></id-optional>
                        <customizations></customizations>
                        <background-color>255,255,255</background-color>
                        <transparent-background>No</transparent-background>
                        <font>Arial,-16</font>
                        <font-color>0,0,0</font-color>
                        <borders>Yes</borders>
                        <top-margin>0</top-margin>
                        <bottom-margin>0</bottom-margin>
                        <left-margin>0</left-margin>
                        <right-margin>0</right-margin>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <select-all-on-focus>No</select-all-on-focus>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>87</x>
                        <y>157</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="status" uid="36">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>448</y>
                        <z>0</z>
                        <width>854</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="StatusText" uid="37">
                    <properties>
                        <text>Text</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>245,242,232</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1</x>
                        <y>449</y>
                        <z>0</z>
                        <width>852</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
